name : First CI Pipeline

on:
  push:
  pull_request:

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5.0.0

      - name: Setup Node Environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 22.15.0
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: echo "No test step here to see"
        

        
    
